.post-cont {
  width: 700px;
  height: 550px;
  background-color: #3d3d40;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.post-cont:last-child {
  margin-bottom: 30px;
}
.post-header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.header-items {
  margin-left: 10px;
  color: white;
}
.post-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.nick {
  margin-left: 45px;
  font-size: 18px;
  cursor: pointer;
}
.validation {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.checked {
  width: 4px;
  height: 7px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}
.date {
  font-size: 16px;
  margin-left: 70px;
  opacity: 0.7;
}

.check-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
}
.arrow {
  width: 7px;
  height: 7px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
  cursor: pointer;
}
.post-main {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-photo {
  width: 70%;
  height: 90%;
}
.main-cont {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-item {
  color: white;
  margin-left: 110px;
  font-size: 18px;
}
.post-footer {
  width: 100%;
  height: 15%;
}

.bot-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bot-items {
  display: flex;
  justify-content: center;
}
.footer-item {
  color: white;
}
.user-info {
  width: 100%;
  display: flex;
  padding-left: 30px;
}
.logo {
  width: 20px;
  margin-right: 5px;
}
